// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status{
  background-color: white;
  height: 100px;
  margin: 100px 0px;
}

.user_index{
  padding: 10px;
   margin: 20px 20px;

}

.admin_login_field{
 margin: 10px 30px;
}