<% if @model == 'user' %>
  <h3>【お探しのユーザーの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'public/users/search', users: @records %>
<% else @model == 'study_time' %>
  <h3>【お探しの投稿内容の検索結果】検索ワード：<%= @content %></h3>
    <%= render 'public/study_times/search', study_times: @records %>
<% end %>