<h5>お問い合わせ内容</h5>

<P>-----------------------------------------</P>

<p>名前：<%= @contact.name %>様</p>

<p>メールアドレス：<%= @contact.email %></p>

<p>お問い合わせ内容：<%= @contact.body %></P>

<p>-----------------------------------------</p>
