// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact_form{
  margin: 100px 500px;
}

.sent{
  margin: 10px 250px;
}

.cotact_message{
  margin: 10px 700px;
}