<% provide(:title, "退会ページ") %>
<div class="withdrawal">
  <strong>本当に退会しますか？</strong>

    <div class="quit-msg">
      退会すると会員情報登録や<br>
      これまでの機能が使えなくなります。<br>
      <br>
      退会する場合は,「退会する」をクリックしてください。
    </div>
    <%= link_to "退会しない", edit_public_user_path(@user), class: 'glyphicon glyphicon-home btn btn-primary' %>
    <%= link_to "退会する", withdrawal_public_users_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>

</div>